@charset "UTF-8";
body{
	position : static;
	background-color: rgb(80, 37, 80);
	padding: 2% 2% 2% 2%;
}

li{
	display: inline;
}

header{
	position : relative;
	box-sizing : border-box;
	background-color: white;
	margin: 2% 2% 2% 2%;
	padding : 1% 1% 1% 1%;
	width : 100%;
	box-shadow: 1px 1px 1px 1px gray;
}

button, a{
	cursor: pointer;
	border-radius: 5px;
}

button{
	box-shadow: 2px 2px 2px 2px gray;
}

.nbtn:hover{
	color: gray;
	font-weight: 400;
}

.secbtn:hover{
	color: gray;
	font-weight: 400;
}

.navlst, .seclst{
	list-style-type: none;
	display: inline;
	}

.nbtn, .secbtn{
	position : relative;
	box-sizing: border-box;
	margin : 1% 2% 1% 2%;
	width : 10%;
	height : 1%;
	color: white;
	font-weight : bold;
	font-size : large;
	background-color: rgb(236, 212, 231);
}
	
.sec{
	position : relative;
	margin : 2% 2% 2% 2%;
	padding : 1% 1% 1% 1%;
	box-sizing: border-box;
	background-color: white;
	color : rgb(80, 37, 80);
	width: 100%;
	text-align: left;
	box-shadow: 1px 1px 1px 1px gray;
	}
	
h1{
	box-sizing : border-box;
	margin-top: 0%;
}

.secbtn{
	box-sizing: border-box;
	left : -10px;
}

#map{
	position : relative;
	box-sizing: border-box;
	width : 70%
}

.foo{
	position : relative;
	box-sizing: border-box;
	padding : 1% 1% 1% 1%;
	margin: 2% 2% 2% 2%;
	text-align: center;
	background-color: white;
	font-family: sans-serif;
	color: rgb(236, 212, 231);
	width : 100%;
	box-shadow: 1px 1px 1px 1px gray;
}

h2{
	text-align: left;
}

.info{
	position: relative;
	box-sizing: border-box;
	margin-bottom: 1%;
	text-align: left;
	height: 100px;
	margin-bottom: 2%;
}
	
.img{
	position : relative;
	box-sizing: border-box;
	width : 30%;
	height : 20%;
	border : 2px solid;
	border-color: purple;
	margin-right: 2%; 
}

span{
	position: relative;
	box-sizing: border-box;
}